APP_NAME=Inventario MVC
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/paginainventario
APP_BASE_URL=/paginainventario
SESSION_NAME=agrocontrol_session
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Agro2026.

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=inventario_db
DB_USERNAME=root
DB_PASSWORD=
